<!DOCTYPE html>
<html id="html">

<head>
  <title>vue index</title>
  <!-- dev -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/TMusic.css">
</head>

<body id="body">

  <div id="app">
    <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">TMusic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse form-inline" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Play Random Song</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="#" @click="randomTopHiphop">Random Top Hiphop (CN)</a>
            </li>
          </ul>
          <input class="form-control mr-sm-2" type="text" :placeholder="defaultSearchSuggestion" aria-label="Search"
            v-model="keywords" @keyup.enter="searchMusic">
          <button class="btn btn-outline-warning my-2 my-sm-0" @click="searchMusic">GO</button>
        </div>
      </div>
    </nav>
    <main id="main" class="row" v-cloak>
      <div class="col-sm-3">

        <!-- left area -->


      </div>
      <div class="center col-sm-6">
        <!-- center area -->
        <div class="center__imgwrapper">
          <img :src="songCoverUrl" class="rounded mx-auto d-block">
        </div>


      </div>
      <div class="col-sm-3">
        <ul class="list-group">
          <span class="list-group-item" v-for="(song, songIndex) in playList">
            <a href="#" @click="songClick(song.id, songIndex)">
              {{song.name}}
            </a>-
            <span v-for="(artist, artistIndex) in song.artists"><span v-show="artistIndex>0"> |
                <!-- todo 搜索歌手: 用同级的artist.id -->
              </span><a href="#" @click="artistClick(artist.name)">{{artist.name}}</a></span>
          </span>
        </ul>
      </div>
    </main>

    <div class="fixed-bottom bg-light">
      <audio id="audio" controls loop autoplay :src="songUrl">
        <!-- <source :src="songUrl"> -->
      </audio>
      <!-- <div>
          <button>播放声音</button>
          <button>暂停声音</button>
          <button>提高音量</button>
          <button>降低音量</button>
        </div>  -->
    </div>
  </div>
  <script src="js/TMusic.js"></script>

</body>

</html>