#body{
  margin: 0;
  padding: 0;
  background-color: #FFFFF4;
}
#header{
  height: 50px;
  background-color: #FFE4C4;
}
#footer{
  height: 300px;
  background-color: burlywood;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}

.flexible{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}

.flexItem{
  width: 250px;
  min-height: 280px;
  margin-right: 20px;
  margin-bottom: 30px;
  border: 1px solid black;
  position: relative;
}

.members{
  position: relative;
  user-select: none;
}

.members__member{
  background-color: #F6F6F6;
  transition: all 1s;
}
.members__member:hover{
  background-color: #FFF;
}

.members__member_img{
  border-radius: 50%;
  border: 1px solid black;
  display: block;
  width: 50%;
  margin: 5% auto;
  object-fit: cover;
}
.members__member_name{
  text-align: center;
}

.members__member_description{
  padding: 0 15px;
  display: block;
  height: 80px;
  min-height: 80px;
  overflow-y: hidden;
}

.members__member >.members__member_descriptioncard{
  overflow: hidden;
  background-color: white;
  position: absolute;
  padding: 5px;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s;
  height: calc(100% - 50px);
  width: calc(100% - 10px);
  
}
.members__member:hover >.members__member_descriptioncard{
  opacity: 1;
}

.members__member_roles{
  position: relative;
  bottom: 10px;
}

.members__member_roles_role{
  display: inline-block;
  text-align: center;
  background: purple;
  /* default bgcolor */
  background: #fb8072;
  margin: 5px 5px 5px 15px;
  padding: 5px 10px;
  /* not necessary border */
  border: 1px solid black;
}

.members__member_crown{
  position: absolute;
  top: 10px;
  right: 10px;
}

.members__errorMsg{
  font-size: large;
  font-weight: bold;
  margin-bottom: 25px;
}

.roles{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px 0;
  margin-bottom: 15px;
  background-color: #EEE;
}
.roles .roles__role {
  display: inline-block;
  margin-left: 15px;
}
.roles .roles__role .roles__role_label{
  padding: 5px;
  border: #AAA 1px solid;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  background-color: #EEE;
  color: #AAA;
  transition: background-color 0.3s;
}
.roles .roles__role .roles__role_checkbox:checked + .roles__role_label{
  background-color: #fbD0C2;
  border: black 1px solid;
  color: black;
}
.roles .roles__role .roles__role_checkbox{
    position: absolute;
    left: -9999px;
}

@media screen and (max-width: 768px){
  *{
    font-size: 7vw;
  }
}